name: Deploy to test

on:
  push:
    branches: 'master'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4
    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3.3.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Extract Metadata
      id: meta
      uses: docker/metadata-action@v5.6.1
      with:
        images: ghcr.io/${{ github.repository }}
    - name: Create .env
      uses: Infisical/secrets-action@v1.0.7
      with:
        client-id: ${{ secrets.CLIENT_ID }}
        client-secret: ${{ secrets.CLIENT_SECRET }}
        env-slug: "prod"
        project-slug: "example-project-c-tm-k"
        export-type: "file"
        file-output-path: "/.env"
    - name: Build and push image
      uses: docker/build-push-action@v6.10.0
      id: push
      with:
        context: .
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}

  deploy:
    runs-on: self-hosted
    needs: build
    environment: Development
    steps:
      - name: Login to registry
        run: docker login ghcr.io -u ${{ github.actor }} -p ${{ secrets.GITHUB_TOKEN }}
      - name: Pull image
        run: docker pull ghcr.io/zjx-artcc/new-website:master
      - name: Run container
        run: docker run -d -p 3700:3700 --name new-website ghcr.io/zjx-artcc/new-website:master 
